<h2>Edit document</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.document_path(@conn, :update, @document) %>

<%= link "Back", to: Routes.document_path(@conn, :index) %>
